*, 
*:after, 
*:before {
	margin: 0;
	padding: 0;
}

a {
	color: black;
	text-decoration: none;
}

.def_cursor {
	cursor:default;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.container {
	display: block;
	width: 1170px;
	margin: 0 auto;
}

/* header */
header {
	font-family: 'Montserrat', sans-serif;
} 

.header_inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/* header_left */
.header_left {
	display: flex;
	flex-direction: row;
}

.header_left_menu {
	display: block;
	padding-top: 37px;
	border-right: 1px solid #f0f2f7;
	padding-right: 42px;
	padding-bottom: 38px;
}

.header_left_menu_line {
	display: block;
	content: "";
	background-color: black;
	margin-bottom: 4px;
	height: 2px;
	width: 20px;
}

.header_left_menu_line:last-child {
	margin-bottom: 0;
}

.header_logo {
	display: block;
	margin-top: 30px;
	margin-left: 30px;
}

/* header_center */

.header_center {
	padding-top: 33px;
	font-weight: 600;
	font-size: 14;

}

.header_nav_link {
	color: #343e5c;
	padding-right: 25px;
}

.header_nav_link:last-child {
	padding-right: 0;	
}

/* header_right */

.header_right {
	display: flex;
}

.header_right_item {
	display: flex;
}

.header_right_item.cart * {
	display: block;
}

.header_right_item.cart {
	
}

.header_right_item.cart span {
}

.header_right_item span {
	padding-top: 5px;
	padding-left: 7px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #343e5c;
}

.header_image {
	padding-top: 6px;
}

.header_right_item.sign {
	margin-top: 28px;
}

.pre_sing {
	font-size: 15px;
	text-transform: uppercase;
	color: #343e5c;
}	

.item_counter {
	margin-left: 5px;
	background-color: #e3e8f0;
	border-radius: 50px;
	padding: 4px 8px;
	cursor: pointer;
	margin-top: 2px;	
}

.header_right_item.cart {
	margin-top: 25px;
	margin-right: 25px;	
	cursor: pointer;
}

.pre_sing a {
	padding: 7px 15px;
	border: 2px solid #e3e8f0;
	border-radius: 20px;
	font-size: 13px;
	font-weight: 500;
	
}

.header_right_item div a:hover {
	background-color: #e3e8f0;
}

/* sub_header_line */
.sub_menu_search input {
	border: none;
	font-size: 15px;
	font-weight: 600;
	margin-left: 3px;	
}

.sub_menu_search input:focus {
	outline: none !important;
}

.sub_menu_search input::placeholder {
	color: #bbc0cf;
}

.sub_header_line {
	display: block;
	width: 100%;
}

.sub_header_line_line {
	display: block;
	height: 1px;
	
	content: "";
	border-bottom: 1px solid #f0f2f7;
}


/* sub_header */

.sub_header_inner {
	display: flex;
	justify-content: space-between;
}

.sub_header_item {
	padding: 20px 0 20px 0;
}

.sub_header_menu {
	padding: 10px 10px 10px 0px;
	margin-right: 10px;
	color: #b2b8c9;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
}

.sub_header_menu span {
	text-transform: none;
	font-size: 14px;
	padding-left: 4px;	
}


/* standboard */

.standboard {
	position: relative;
}

.staboard_image {
	position: relative;
}

.staboard_image_cont img {
	width: 100%;
	display: block;
	max-height: 500px;
	height: 100%;
}

.standboard_article {	
	padding-left: 215px;
	max-width: 470px;
	width: 100%;
	
	
	display: block;
	line-height: 1.5;
	
	color: white;
	position: absolute;
	top: 46%;
	left: 0;
	z-index: 1;
	transform: translateY(-50%);
}

.standboard_article p {
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 60px;
	height: 64px;
	letter-spacing: 0.7px;
}

.standboard_article a {
	padding: 15px 50px;
	background-color: #2754eb;
	border-radius: 25px;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.standboard_prev {
	position: absolute;
	z-index: 50;	
	left: 121px;
	top: 50%;
	transform: translateY(-50%);
}

.standboard_prev img {
	transform: rotate(180deg);
}

.standboard_next {	
	position: absolute;
	z-index: 50;	
	right: 121px;
	top: 50%;
	transform: translateY(-50%);
}

.standboard_next a {
	display: block;
}

.standboard_prev a {
	display: block;
}

.standboard_next img {
	display: block;
}

.standboard_prev img {
	display: block;
}

.standboard_dots {
	position: absolute;	
	display: flex;
	bottom: 30px;
	left: 47.7%;
}

.dot {
	content: "";
	display: block;
	background-color: transparent;
	width: 8px;
	height: 8px;
	border-radius: 25px;
	margin-right: 6px;
	cursor: pointer;	
	border: 2px solid #898a8c;
}

.active_dot {
	border: 2px solid white;
	background-color: white;
}

.staboard_image.second_image {
	display: none;
}

.staboard_image.third_image {
	display: none;
}

.staboard_image.fourth_image {
	display: none;
}

.standboard_article h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 600;
}

.switch_button {
	cursor: pointer;
}

.button_pointer_cir {
	border: 2px solid #47484c;
	background-color: transparent;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	display: block;
	position: relative;
}

.button_pointer {
	border-top: 2px solid white;
	border-right: 2px solid white; 
	width: 6px;
	height: 6px;
	display: block;
	position: absolute;
	
	top: 16px;
}
.button_pointer_cir:hover {
	background-color: #47484c;
}

.button_pointer_prev {
	transform: rotate(-135deg);
	left: 17px;
}

.button_pointer_next {
	transform: rotate(45deg);
	left: 15px;
}

/* buymenu */
.buymenu {
	background-color: #e4e5e7;
	padding: 50px 0 30px 0;
}

.buymenu_inner {
	background-color: white;
	padding: 0 20px;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
}

.buymenu_price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buy_search {
	display: flex;
}

.buymenu_item.center {
	display: flex;
	justify-content: space-between;
	border-right: 1px solid #e4e5e7;
	border-left: 1px solid #e4e5e7;
	padding: 10px 20px;
	
}

.buymenu_item {
	display: flex;
	padding: 10px 0;
	position: relative;
}

.buymenu_item_select {
	font-size: 13px;
	margin-top: 1px;
}

.buymenu_item p {
	color: #a1a8bd;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	padding-top: 11px;
	padding-right: 10px;
	padding-left: 10px;
}

.tere {
	padding-top: 8px;
}

.buymenu_item h2 {
	color: black;
	font-size: 13px;
	font-weight: 500;
	padding-top: 10px;
}

.buymenu_item.side div {
	padding-top: 8px;
	display: block;
}

.buymenu_item.side p {
	width: 50%;
	display: block;
}

.buymenu_item.side {
	width: 25%;
}

.free_ship {
	display: flex;
}

.free_ship img {
	display: block;
	width: 20px;
	height: 20px;
	padding-top: 8px;
	padding-right: 8px;	
}

.buymenu_item.side:last-child {
	padding-left: 20px;
}

.buymenu_item.center {
	width: 60%;
}

.buymenu_item input {
	background-color: #f0f2f7;
	border-radius: 25px;
	border: 1px solid #eef1f6;
	padding: 10px 0 10px 14px;
	margin-right: 15px;
}

.buymenu_item input:focus {
	outline:none !important;
	box-shadow: 0 0 0 2px #9ec1fa;
}

#buy_sub_1 {
	display: none;
}

.buy_point {
	display: block;
	content: "";
	max-width: 5px;
	max-height: 5px;
	width: 100%;
	height: 100%;
	border-top: 2px solid #c4cada;
	border-right: 2px solid #c4cada;
	border-bottom: 2px solid blue;
	border-left: 2px solid blue;
	transform: rotate(45deg);
}


.buymenu_item_select {
	margin-right: 10px;
}

#buy_men_1 {
	margin-top: -7px;
	display: flex;
}

#buy_sub_1 {
	position: absolute;
	display: none;
	background-color: white;
	right: 0;
	top: 40px;
	padding: 0 20px;
}

#buy_sub_1 p {
	cursor: pointer;
}

#buy_men_2 {
	margin-top: -7px;
	display: flex;
}

#buy_sub_2 {
	position: absolute;
	display: none;
	background-color: white;
	right: 0;
	top: 40px;
	padding: 0 20px;
}

#buy_sub_2 p {
	cursor: pointer;
}

#search {
	width: 149px;
	display: block;
}

#price_1 {
	width: 49px;
	margin-right: 0;
}

#price_2 {
	width: 49px;
}


/* content */

.content {
	background-color: #e4e5e7; 
}

.content_inner {
	display: flex;
}

.content_item:first-child {
	margin-top: 0;
	width: 25%;
}

.categories {
	background-color: white;
	border-radius: 4px;

}



.content_item:second-child {
	width: 75%;
}

.items_row {
	display: flex;
	width: 100%;
}

.items_item {
	display: block;
	width: 270px;
	background: white;
	margin-top: 0px;
	margin-bottom: 32px;
	margin-left: 32px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 45px;
	border-radius: 4px;
}

.product_name {
	display: block;
	max-width: 220px;
	max-height: 220px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: block;
	padding: 20px;
}

.product_name img {
	display: block;
		
	width: 100%;
	height: 100%;
}

.items_item span {
	height: 40px;
	display: block; 

	font-size: 16px;
	color: black;
	font-weight: 600;
}

.items_item h3 {
	font-size: 13px;
	color: #b8bfd3;
	margin: 7px 0 15px;
	text-transform: uppercase;
}

.items_item h4 {
	font-size: 15px;
	color: #404966;
}

/* big_product */
.big_product {
	width: 570px;
	background-color: white;
	margin-left: 30px;
	padding-bottom: 40px;
	margin-bottom: 30px;
	position: relative;
	border-radius: 5px;
}

.big_product_price {
	position: absolute;
	background-color: black;
	border-radius: 5px;
	color: white;
	font-size: 12px;
	font-weight: 500;
	padding: 5px 12px;
	left: 20px;
	top: 20px;
}

.big_product img {
	width: 100%;
	height: 306px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.big_product_info {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.big_product_offer {
	display: flex;
	text-align: center;
	margin-right: 20px;
	border: 2px solid #f0f2f7;
	border-radius: 50px;
}

.big_product_offer a {
	width: 120px;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #4d5168;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
}

.big_product_offer a:first-child {
	border-right: 1px solid #f0f2f7;
}

.big_product_offer_1:hover {
	background-color: #f0f2f7;
	border-top-left-radius: 50px;	
	border-bottom-left-radius: 50px;
}

.big_product_offer_2:hover {
	background-color: #f0f2f7;
	border-top-right-radius: 50px;	
	border-bottom-right-radius: 50px;
}

.big_product_info_item:first-child {
	margin-left: 20px;
	margin-top: 7px;
	margin-bottom: 3px;
}

.big_product_info_item h5 {
	font-size: 16px;
}

.big_product_info_item h3 {
	text-transform: uppercase;
	font-size: 12px;
	color: #d1d2d6;
}

/* full_space_product */

.full_space_product {
	width: 274px;
	height: 400px;
	margin-left: 30px;
	position: relative;
	border-radius: 5px;
}

.full_space_product img {
	width: 100%;
	height: 100%;	
	border-radius: 5px;
}

.full_space_product_info {
	position: absolute;
	left: 55px;
	top: 40px;
	text-align: center;
}

.full_space_product_info span {
	font-size: 16px;
	font-weight: 500;

}

.full_space_product_info h4 {
	color: #807d7a;
}
/* selector */ 
.cat_sel a {
	padding-left: 18px;
	border-bottom: 1px solid #f0f2f7;
}

.cat_sel:last-child {
	border: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.cat_title {
	color: #343e5c;
	padding: 12px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	padding-left: 18px;
	cursor: pointer;
	font-weight: 600;
	border-bottom: 1px solid #f0f2f7;
	display: flex;
	justify-content: space-between;
}

.cat_title_pointer {
	display: block;
	background-color: transparent;
	width: 5px;
	height: 5px;
	content: "";
	border-top: 2px solid #c4cada;
	border-right: 2px solid #c4cada;
	transform: rotate(45deg);
	margin-top: 5px;
}

 
.last_cat_title {
	border-bottom: none;
}
.round_tit {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.round_tib {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#sel_cat_1 {
	display: none;
}

#sel_cat_2 {
	display: none;
}

#sel_cat_3 {
	display: none;
}

#sel_cat_4 {
	display: none;
}

#sel_cat_5 {
	display: none;
}


/* products_available */
.prod_menu_title {
	font-size: 11;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;

	text-transform: uppercase;
	color: #343e5c;
}

.products_available {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 28px;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;	
	background-color: white;
}

.products_available p {
	color: #bcc3d6;
	font-weight: 600;
}

.place_sel {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom_radio_cover {
	display: block;
	width: 100%;
}

.radio_text {
	margin-left: 25px;
	font-size: 13px;
	font-weight: 600;
	color: #343e5c;
	font-family: "Myriad Pro", sans-serif;
}

.radio_num {
	font-size: 12px;
	color: #b8bfd3;
	font-weight: 500;
	margin-top: 1px;
	font-family: "Montserrat", sans-serif;
}

.custom_radio {
	display: flex;
	cursor: pointer;
	position: relative;
}

.custom_radio input {
	display: none;
}

.radio_button {
	display: block;
	margin-top: -1px;
	border-radius: 50px;
	position: absolute;
	
	width: 15px;
	height: 15px;
	border: 2px solid #e5e8f0;
	content: "";
}

.radio_button:after {
	border-radius: 50px;
	position: absolute;
	left: 4px;
	top: 4px;
	
	width: 7px;
	height: 7px;
	background-color: #00deea;
	content: "";
	display: none;
}


.custom_radio:hover input ~ .radio_button {
	background-color: #ccc;
}

.custom_radio:hover input ~ .radio_button:after {
	display: none;
}

.custom_radio input:checked ~ .radio_button:after {
	display: block;
}

.products_available h3 {
	font-weight: 600;
	border-bottom: 1px solid #f0f2f7;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 16px;
	margin-bottom: 10px;
}

.products_available label {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;	
}

.products_available label:last-child {
	padding-bottom: 15px;
}

/* brands */
.brands {
	border-radius: 4px;
	padding-top: 5px;
	border-top: 1px solid #f0f2f7;
	background-color: white;
}

.brands label {
	display: block;	
}

.brand_title_t {
	font-size: 14px;
}

#brands_sub {
	display: none;
}

.brands_title {
	padding: 5px 20px 11px 20px;	
	display: flex;
	font-size: 11px;
	font-weight: 500;
	justify-content: space-between;
	border-bottom: 1px solid #f0f2f7;
	text-transform: uppercase;
}

.brands_title span {
	margin-top: 5px;
}

.brands_title div {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	padding: 5px;
	font-size: 12px;
}
.pre_container_checkbox:first-child {
	margin-top: 16px;	
}

.pre_container_checkbox {
	display: block;
	padding: 0px 20px 14px 20px;
}

.checkmark_text  {
	display: flex;
	justify-content: space-between;
}


.checkmark_text .brand_name {
	font-family: "Myriad Pro", sans-serif;
	margin-left: 29px;
	font-size: 14px;
	color: #485069;
	font-weight: 400;
	margin-top: 3px;
}

.checkmark_text .brand_count {
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	color: #c1c7d9;
	font-weight: 600;
	margin-top: 3px;

}

.container_checkbox {	
	display: block;
	position: relative;
	cursor: pointer;	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container_checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: white;
	border: 2px solid #e4e8f0;
	border-radius: 4px;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_checkbox .checkmark:after {
	left: 8px;
	top: 4px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


.container_checkbox input:checked ~ .checkmark {
	background-color: #00e2aa;
	border: none;
	height: 20px;
	width: 20px;
}

.container_checkbox:hover input ~ .checkmark {
	background-color: #ccc;
}

.container_checkbox:hover input ~ .checkmark:after {
	display: block;

}

.container_checkbox input:checked ~ .checkmark:after {
	display: block;
}


/* condition */
.condition {
	margin-top: 30px;
}

#brands_sub2 {
	display: none;
}

/* delivery */

.delivery {
	border-radius: 5px;
	font-size: 12px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	margin-top: 20px;
	background-color: white;
}

.delivery_tit {
	font-weight: 600;
	padding: 15px 20px;
	border-bottom: 1px solid #f0f2f7;
}

.delivery_inner {
	display: flex;
}

.delivery_item {
	font-weight: 600;
	width: 50%;
	padding: 15px 0 15px 35px;
	border-left: 1px solid #f0f2f7;
	border-right: 1px solid #f0f2f7;
}

/* page_selector */

.page_selector {
	background-color: #e4e5e7;
	padding-bottom: 50px;
}

.page_selector_inner {
	border-radius: 5px;	
	background-color: white;
	display: flex;

}

.pages {
	margin: 20px auto;
	display: flex;

}

.page_num {
	border-radius: 50px;
	padding: 19px 23px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	margin: 0 5px;
}

.active_page {
	color: #b9bed1;
	box-shadow: 0px 11px 30px -10px black;
}
.page_num:hover {
	color: #b9bed1;
	box-shadow: 0px 11px 30px -10px black;
}

.page_pointer {
	content: "";
	display: block;

	width: 6px;
	height: 6px;
	background-color: transparent;
	
	border-left: 2px solid black;
	border-top: 2px solid black;
	margin-top: 33px;
}

.prev_page {
	margin-left: 95px;
	transform: rotate(-45deg);
}

.next_page {
	margin-right: 95px;
	transform: rotate(135deg);
}

.nep_page_pointer {
	padding: 10px;
	cursor: pointer;
}

/* best_sellers */

.best_sellers {
	background-color: #e4e5e7;
	padding-bottom: 50px;
}

.sellers_inner {
	background-color: white;
	border-radius: 5px;
}

.sellers_title {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: 500;
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #f0f2f7;
}

.sellers_item:first-child {	
	border-bottom-left-radius: 5px;
	margin-left: 0;
}

.sellers_item:last-child {	
	border-bottom-right-radius: 5px;
	margin-right: 20px;
}

.sellers_item {
	border-left: 1px solid #f0f2f7;
	margin-bottom: 0;
	border-radius: 0;
	text-align: center;
	width: 25%;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	padding-bottom: 35px;
}

.sellers_item img {
	height: 400px;
	width: 250px;
	margin: 0 auto;
}

.sellers_product {
	width: 100%;
}

.old_price {
	text-decoration: line-through;
	margin-right: 17px;
	color: #c0c6d8;
}

.sellers_item h5 {
	font-size: 16px;
	color: #343e5c;
}

.sellers_item h3 {
	margin: 10px 0 20px; 
	font-size: 14px;
	color: #bbc0cf;
}


.sellers_item h4 {
	font-size: 12px;
	color: #343e5c;
	font-weight: 500;
}

/* team */

.team {
	background-color: white;
}

.team_main_title {
	padding-top: 70px;
	text-align: center;
	color: black;
	font-size: 32px;
	font-weight: 700;
}

.team_sub_title {
	color: #b9bed1;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding-bottom: 45px;
}
.team_inner {
	display: flex;
	justify-content: space-between;
}

.team_item {
	flex: 1 1 0;
	margin-left: 100px;
	padding-bottom: 90px;
}

.team_title {
	display: flex;
}

.team_title_item:first-child {
	margin-right: 17px;
	margin-bottom: 25px;
}

.team_title img {
	width: 40px;
	height: 40px;
	border-radius: 50px;
}

.team_title h2 {
	font-size: 14px;
	color: #3a405b;
}

.team_title h3 {
	font-size: 14px;
	color: #b9bed1;
}

.team_item article {
	color: #3a405b;
	width: 260px;
}

/* footer */

footer {
	background-color: #222328;
}

.footer_row {
	display: flex;
	justify-content: space-between;
}

.footer_row:first-child {
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer_row:last-child {
	padding-top: 50px;
	padding-bottom: 50px;
}

.soc_links {
	margin-top: 25px;
}

.soc_links a {
	padding: 5px;
	margin-left: 15px;
}

.soc_links a:last-child {
	margin-left: 12px;
}

.footer_menu {
	padding-top: 25px;
}

.footer_menu_link {
	color: white;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 10px;
	padding: 10px;
}

.footer_line {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	padding: 0 10px;
	background-color: #2d2e33;
}

.footer_quote {
	width: 522px;	
	color: #7a7a7c;
}

.footer_info a {
	color: #626365;
	margin-left: 20px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
}

/*

сделать выборку в меню
анимация

сделать меню у субменю на ховер

*/	